@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px; /* Adjust based on your header height */
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.paypal-button-container,
.paypal-button,
.paypal-button iframe {
  z-index: 1 !important;
}

@media (min-width: 2560px) {
  .arrow-lg {
    background-position: right 1rem center;
    background-size: 1rem auto;
    /* You can also adjust padding if needed */
    padding-right: 1rem;
  }
}
